<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>WeShare - 停車格辨識系統</h3>
    </div>
  </div>

  <div class="row">
    <div class="col s2">
      <form id="form-upload-file" enctype="multipart/form-data">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="file-field input-field">
          <div class="btn orange darken-1" id="btn-upload-file">
            <span>檔案上傳</span>
          </div>
          <input type="file" id="input-upload-file" class="hide" accept="image/*" name="uploaded_file">
        </div>
      </form>
    </div>

    <div class="col s1">
      <div class="preloader-wrapper small active hide">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <img id="image-preview" src="#" class="hide">
    </div>

    <div class="col s6">
      <div class="card card-msg blue-grey darken-1">
        <div class="card-content white-text">
          <p>請上傳您的停車照片。</p>
        </div>
      </div>
    </div>
  </div>
</div>
